@import "var";
@import "mixin";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}


.main{
    @include flexProp;
    width: 100vw;
    height: 100vh;
    background-color: $bg-color;
    h1{
        @include Code(.5rem,uppercase);
        &:hover{
            color: #C4E538;
        }
        &::after{
            content: " Hello";
        }
    }
    p{
        @include Code(1rem,capitalize);
        color: #000;
        &:hover{
            color: #C4E538;
        }
    }
}
